# FastAPI Web Framework & Server
fastapi==0.118.0
uvicorn==0.37.0
pydantic==2.11.7

# PyTorch Deep Learning
torch==2.8.0
pytorch-msssim==1.0.0

# Scientific Data & Numerical Processing
xarray==2025.6.1
netCDF4==1.7.2
numpy==2.3.4
pandas==2.3.2
Pillow==11.3.0
python-multipart==0.0.20